In [17]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.decomposition import PCA
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.metrics import balanced_accuracy_score
import matplotlib.pyplot as plt

In [18]:
df = pd.read_csv('team_match_data.csv')
df = df.fillna(0)
df = df.drop('Unnamed: 0', axis=1)

In [19]:
df

,match_id,team_id,team_name,team_rating,date,won_corners,att_sv_low_centre,won_contest,total_tackle,aerial_lost,...,att_sv_high_right,att_sv_low_right,att_sv_high_left,att_miss_high_left,att_goal_high_right,att_goal_high_left,att_post_right,att_goal_high_centre,penalty_save,att_post_high
0,1190418,166,Huddersfield,6.140000,30/01/2018,1.0,1.0,5,11,15,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1190418,26,Liverpool,7.222857,30/01/2018,4.0,2.0,6,13,16,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1190424,211,Brighton,7.153846,01/01/2018,5.0,1.0,12,23,16,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1190424,183,Bournemouth,6.902857,01/01/2018,12.0,3.0,17,6,25,...,1.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1190342,15,Chelsea,6.771429,13/01/2018,6.0,1.0,15,13,18,...,0.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
755,1190373,27,Watford,6.170714,11/03/2018,9.0,1.0,7,13,22,...,0.0,3.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
756,1190367,32,Manchester United,7.319286,03/02/2018,5.0,3.0,27,15,18,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
757,1190367,166,Huddersfield,6.408571,03/02/2018,2.0,0.0,4,22,14,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
758,1190401,96,Stoke,6.310769,12/03/2018,3.0,0.0,9,19,16,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
759,1190401,167,Manchester City,7.237692,12/03/2018,10.0,1.0,10,16,13,...,1.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [20]:
df.insert(2, 'W/L/T', 0)

In [21]:
df

,match_id,team_id,W/L/T,team_name,team_rating,date,won_corners,att_sv_low_centre,won_contest,total_tackle,...,att_sv_high_right,att_sv_low_right,att_sv_high_left,att_miss_high_left,att_goal_high_right,att_goal_high_left,att_post_right,att_goal_high_centre,penalty_save,att_post_high
0,1190418,166,0,Huddersfield,6.140000,30/01/2018,1.0,1.0,5,11,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1190418,26,0,Liverpool,7.222857,30/01/2018,4.0,2.0,6,13,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1190424,211,0,Brighton,7.153846,01/01/2018,5.0,1.0,12,23,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1190424,183,0,Bournemouth,6.902857,01/01/2018,12.0,3.0,17,6,...,1.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1190342,15,0,Chelsea,6.771429,13/01/2018,6.0,1.0,15,13,...,0.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
755,1190373,27,0,Watford,6.170714,11/03/2018,9.0,1.0,7,13,...,0.0,3.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
756,1190367,32,0,Manchester United,7.319286,03/02/2018,5.0,3.0,27,15,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
757,1190367,166,0,Huddersfield,6.408571,03/02/2018,2.0,0.0,4,22,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
758,1190401,96,0,Stoke,6.310769,12/03/2018,3.0,0.0,9,19,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
759,1190401,167,0,Manchester City,7.237692,12/03/2018,10.0,1.0,10,16,...,1.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
for i in df:
    if